* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: #DEDEDE;
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
    width: 100%;
}
.wrapper {
    background-image: url(../img/background_alternative.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    
    margin: 0 auto;
}
.back-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.content-wrapper {
     margin: 0px 120px 0px 120px;
     font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.languages {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-top: 50px;
}
.lang-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}
.lang:hover {
    color: #f0a694;
}
.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
}
.logo {
     margin-top: 30px;
}
.menu ul{
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight:200;
    display: flex;
    flex-wrap: wrap;
}
.menu li {
    margin-left: 48px;
    list-style-type: none;
    padding-bottom: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #DEDEDE;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
    padding-bottom: 5px;
    font-size: 16px;
}
.menu ul li a:hover {
   color: #f0a694;
}
.main {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  
.main img{
    padding: 50px;
    justify-self: center;
}
.video_recording {
    border: 12px solid #BCC274;
}
#backstage_gallery {
    position: relative;
    width: 100%;
  }
.image_slides {
      width: 624px;
}
.slide {
    display: block;
    width: 622px;
    height: 303px;
}
.slide img {
    width: 622px;
    height: 303px;
}
.trumbnails {
    display: flex;
    width: 622px;
}
.trumbnail {
    cursor: pointer;
    width: 20%;
    padding: 4px;
}
.trumbnail_image {
    width: 100%;
    height: 100%;
} 
footer {
    display: flex;
    justify-content: right;
    margin-top: 100px;
    margin-bottom: 50px;
}
footer p {
    font-size: 12px;
}
@media(max-width: 1440px) {
    .main img {
        width: 400px;
        height: 560px;
        padding: 50px;
        justify-self: center;
    }
    .menu ul li a{
        font-size: 16px;
    }
    .modal_left_side {
        margin-left:100px;
        margin-top: 20px;
        margin-right: 50px;
    }
    .modal_footer {
        display: flex;
        margin-top: 100px;
        margin-left: 360px;
        justify-content: flex-start;
        height:700px;
    }
}
@media(max-width: 1024px) {
    .main img {
        width: 322px;
        height: 458px;
        padding: 50px;
        justify-self: center;
    }
    .menu ul li a{
        font-size: 14px;
    } 
}
@media(max-width: 768px) {
    .logo {
        margin-top: 30px;
    }
   .menu ul li a{
        font-size: 14px;
    }
}
@media(max-width:425px) {
    .wrapper {
        background-image:none;
    }
    .content-wrapper {
        margin: 0px 40px 0px 40px;
    }
    .header {
        flex-wrap: wrap;
    }
    .menu ul li a{
        font-size: 14px;
    }
    .menu ul li {
        padding-bottom: 20px;
    }
}
@media(max-width: 375px) {
    .content-wrapper {
        margin: 0px 20px 0px 20px;
    }
    .header {
        flex-wrap: wrap;
    }
}
@media(max-width:320px) { 
    .content-wrapper {
        margin: 0px 16px 0px 16px;
    }
}