* {
    box-sizing:border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #DEDEDE;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    width: 100%;
}
.wrapper {
    background-image: url(../img/background_alternative.png);
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0 ;
}
.content-wrapper {
    margin: 0px 120px 0px 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.languages {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-top: 50px;
}
.lang-wrapper {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}
.lang:hover {
    color: #f0a694;
}
.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.logo {
    margin-top: 30px;
}
.mobile-menu {
    font-family: 'Montserrat', sans-serif;
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999;
}
.mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
}
.mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 2px;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 2px;
}
.mobile-menu__icon::after {
    top: 8px;
}
.mobile-menu__icon::before {
    top: -8px;
} 
.mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color:#555555;
}
.mobile-menu__list {
    transition: .5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
}
.mobile-menu__item {
    font-size: 22px;
    padding-bottom: 15px;
}
.mobile-menu__link {
    text-decoration: none;
    color: #fff;
}
.mobile-menu__checkbox {
    display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.menu ul{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}
.menu li {
    margin-left: 48px;
    list-style-type: none;
    padding-bottom: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #DEDEDE;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 5px;
    font-size: 16px;
}
.menu ul li a:hover {
    color: #f0a694;
}
.main {
    margin-top: 0px;
    margin-bottom: 200px;
}
.flex-wrapper {
    display: flex;
    justify-content:center;
    align-items:flex-end;
}
.slider-wrapper {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1580px;
    height: 100%;
}
.slide {
    text-align: center;
    width: 100%;
    height: 600px;
    display: none;
}
.slide img{
    padding: 40px;
    width: 604px;
    height: 360px;
}
.slide.active{
    display: block;
}
.img-description {
    padding: 20px;
    text-align: center;
    margin: 30px;
}
#btn-prev {
   margin-left: 60px;
   margin-bottom: 60px;
   position: relative;
}
#btn-next {
    margin-right: 60px;
    margin-bottom: 60px;
    position: relative;
}
footer {
    display:flex;
    justify-content: right;
    margin-top: 50%;
    padding-bottom: 50px;
}
footer p {
    font-size:12px;
}
@media(max-width: 1440px) {
    #btn-prev {
        margin-left: 100px;
        margin-top: 100px;
        padding-bottom: 200px;
        position: relative;
    }
    #btn-next {
        margin-right:100px;
        margin-top: 100px;
        padding-bottom: 200px;
        position: relative;
    }
    .slider-wrapper {
        margin-top: 0px;
        width: 100%;
    }
    footer {
        margin-top:80%;
    }
}
@media(max-width: 1024px) {
    body {
        font-size: 14px;
    }
    .menu{
        display: none;
      }
    .mobile-menu {
        display: flex;
    }
    #btn-prev {
        margin-left: 50px;
        margin-top: 100px;
        padding-bottom: 200px;
        position: relative;
    }
     #btn-next {
        margin-top: 100px;
        margin-right:50px;
        padding-bottom: 200px;
        position: relative;
    }
    .slider-wrapper {
        margin-top: 0px;
        width: 100%;
    }
    footer {
        margin-top:100%;
    }
}
@media(max-width: 768px) {
    #btn-prev {
        margin-left: 10px;
        
    }
     #btn-next {
        
        margin-right:10px;
        
    }
    .slide img{
        padding: 0px; 
        width: 400px;
        height: 240px;
    }
    .slider-wrapper {
        margin-top: 0px;
        width: 100%;
    }
    footer {
        margin-top:200%;
    }
}
@media(max-width: 425px) {
    .content-wrapper {
        margin: 0px 40px 0px 40px;
    }
    .header {
        flex-wrap: wrap;
    }
    .menu ul li {
        padding-bottom: 20px;
    }
    /* #btn-prev ,#btn-next {
        display: none;
    } */
    .slide img {
        padding: 0px; 
        width: 345px;
        height: 200px;
    }
    .slider-wrapper {
        margin-top: 0px;
        width: 100%;
    }
    footer {
        margin-top: 500%;
    }
}
@media(max-width: 375px) {
    .content-wrapper {
        margin: 0px 20px 0px 20px;
    }
    .header {
        flex-wrap: wrap;
    }
    .slide img{
        padding: 0px; 
        width: 300px;
        height: 160px;
    }
    .slider-wrapper {
        margin-top: 0px;
        width: 100%;
    }
    footer {
        margin-top: 730%;
    }
}
@media(max-width: 320px) {
    .content-wrapper {
        margin: 0px 16px 0px 16px;
    }
    .header {
        flex-wrap: wrap;
    }
    .slide img{
        padding: 0px; 
        width: 280px;
        height: 160px;
    }
    .slider-wrapper {
        margin-top: 0px;
        width: 100%;
    }
    footer {
        margin-top: 922%;
    }
}